
@keyframes rise {
  from {
    opacity: 0;
    top: 70%;
  }

  to {
    opacity: 1;
    top: 50%;
  }
}

.rise {
  animation-name: rise;
  animation-duration: 1.5s;
}

.example-enter {
  opacity: 0.01;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 400ms ease-in;
}