html, body {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: $font-family;
  color: $secondary-font;
  vertical-align: baseline;
  background-color: $background-grey;

  @include media($mobile) {
    // font-size: 80%;
    padding: 0 5px;
  }
}


h1, h2, h3, h4, h5{
  font-family: $font-family;
  color: $primary-font;
  margin: 0;
  padding: 0;
  font-weight: 300;
}

h1 {
  color: $main-header;
}
p {
  color: $secondary-font;
  font-family: $font-family;
  margin: 0;
}

.container {
  @include outer-container(1000px);
  background-color: #fff;
  font-family: inherit;
  overflow: auto;
}

.content {
  overflow: auto;
  width: 100%;
  position: relative;
}

.section {
  @include span-columns(12);
  padding: 10px;
  font-family: inherit;
  height: calc(100vh - 37px);
  overflow: hidden;
  display: block;

  @include media($mobile) {
    @include span-columns(4);
  }
}

.half-column {
  @include span-columns(6);

  @include media($mobile) {
    @include span-columns(4);
  }
}


//for flex box
.single {
  flex-grow: 1;
  width: 100%;
}

.half {
  width: 50%;
  flex-grow: 1;
}

.one-third {
  width: 33%;
  flex-grow: 1;
}

.two-third {
  width: 66%;
  flex-grow: 3;
}

.right {
  float: right;
}

.left {
  float: left;
}

a {
  text-decoration: none;
  color: $link;
  transition: color 300ms ease-in;
  &:hover {
    color: darken($link, 10%);
  }
}

footer.contact {
  @extend .contact;
  width: inherit;
  height: 170px;
  background-color: #fff;
  position: relative;
  text-align: center;

  ul {
    display: inline-block;
    margin: 0 auto 0;
    padding: 50px 0 0;
  }

  li {
    display: inline-block;
    float: none;
  }

  li img {
    width: 35px;
    height: auto;
  }

  .wip {
    border-top: 1px solid $line-gray;
    position: absolute;
    width: 100%;
    bottom: 1px;
    background-color: $background-grey;
    height: 45px;
    color: $secondary-font;
    line-height: 45px;
    text-align: center;
    font-size: .8em;
  }

  @include media($mobile) {
    height: 120px;

    ul {
      padding: 35px 0 0;
    }
    li img {
      width: 25px;
      height: auto;
    }

    .wip {
      height: 30px;
      font-size: .5em;
      line-height: 30px;
    }
  }
}
