.top-nav {
  width: 100%;
  position:fixed;
  top: 0;
  left: 0;
  height: 50px;
  background-color: rgba(255, 255, 255, 0.95);
  z-index: 1;
  text-align: center;

  ul {
    padding: 0;
  }

  li {
    display: inline;
    text-decoration: none;
    margin: 5px 20px;
  }

  a {
    color: $disabled-text;
    cursor: pointer;
    font-weight: 300;

    &:hover {
      color: darken($disabled-text, 20%);
      font-weight: 400;

    }
  }

  @include media($mobile) {
    height: 35px;
    font-size: 1.1em;

    a {
      font-weight: 400;
      color: darken($disabled-text, 10%);
    }
  }

}