.resume-section {
  @include span-columns(10);
  @include shift(1);
  padding: 10px;
}


.resume {
  @extend .section;
  height: auto;
  background-color: #fff;
  // padding: 0;
  // padding: 0 20px;


  .experience {
    @extend .resume-section;

  }

  .skills {
    @extend .resume-section;
  }

  .course-work {
    @extend .resume-section;
    margin-bottom: 20px;

    h3 {
      margin: 4px 0;
    }
  }

  section {
    padding: 1px 5px;
    border-left: 4px solid darken($background-grey, 10%);
  }

  .work-title {
    margin-bottom: 5px;
    width: 100%;
    overflow: auto;
  }

  .download {
    display: inline-block;
    height: 40px;
    line-height: 40px;
    width: 100%;
    font-size: .9em;
    color: $secondary-font;
    text-align: center;
    border-bottom: 1px solid darken($background-grey, 0%);
    border-top: 1px solid darken($background-grey, 0%);
  }

  h1 {
    // color: $secondary-font;
    font-weight: 400;
    line-height: 40px;
    font-size: 1.7em;
    margin-bottom: 10px;
  }

  h3 {
    font-size: 1.1em;
    font-weight: 400;
    color: $secondary-header;
  }

  p {
    font-weight: 300;
    color: $body-font;
    margin-left: 5px;
  }
}

.resume-header {
  height: 40px;
  width: 100%;
  // margin: 10px;
  // background-color: $secondary-font;
  margin: 10px 0;
}
