.resume-section {
  @include span-columns(10);
  @include shift(1);
  padding: 0 10px;

  @include media($mobile) {
    @include span-columns(4);
    @include shift(0);
  }
}


.resume {
  @extend .section;
  height: auto;
  background-color: #fff;
  padding: 0;
  // padding: 0 20px;

  .section-title {
    margin: 0;
    padding: 0;

    h1 {
      margin: 0;
    }
  }

  .experience {
    padding-top: 30px;
    border-top: 1px solid $line-gray;
    @extend .resume-section;

    .date {
      font-size: .9em;
      font-weight: 400;
      color: darken($disabled-text,10%);
      padding-top: 1.5px;
    }

    ul {
      font-weight: 300;
      color: $body-font;
      margin: 0;
      font-size: .9em;
      padding-left: 30px;

    }

    @include media($mobile) {
      ul {
        padding-left: 20px;
      }
    }
  }

  .skills {
    @extend .resume-section;
  }

  .course-work {
    @extend .resume-section;
    margin-bottom: 20px;

    h3 {
      margin: 4px 0;
    }
  }

  section {
    padding: 1px 5px;
  //   border-left: 4px solid darken($background-grey, 10%);
  }

  .work-title {
    margin-bottom: 5px;
    width: 100%;
    overflow: auto;
    margin-top: 15px;

    &.first {
      margin-top:0;
    }
  }

  @include media($mobile) {
    .position, .date {
      float: left;
      font-size: .9em;
    }

    .date {
      font-size: .8em;
    }
  }

  .download {
    display: inline-block;
    height: 40px;
    line-height: 40px;
    width: 100%;
    font-size: .9em;
    color: $secondary-font;
    text-align: center;
    border-bottom: 1px solid darken($line-gray, 0%);
    border-top: 1px solid darken($line-gray, 0%);
  }

  h1 {
    // color: $secondary-font;
    font-weight: 400;
    line-height: 40px;
    font-size: 1.7em;
    margin-bottom: 5px;

    @include media($mobile) {
      margin-bottom: 0;
      line-height: 20px;
      margin-top: 10px;
      font-size: 1.4em;
    }
  }

  h3 {
    font-size: 1em;
    font-weight: 400;
    color: $secondary-header;

    @include media($mobile) {
      font-size: .9em;
    }
  }

  p {
    font-weight: 300;
    color: $body-font;
    font-size: .9em;
    margin: 0 5px;
  }
}

.resume-header {
  height: 40px;
  width: 100%;
  // margin: 10px;
  // background-color: $secondary-font;
  margin: 10px 0;
}
