.splash {
  @extend .section;
  overflow: hidden;
  height: 500px;
  padding: 0;
  position: relative;
  border-radius: 5px;
  margin-top: 50px;

  .text, .image {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }

  .image-container {
    @include omega();
    text-align: center;
    overflow: hidden;
    height: 100%;

    img {
      height: 90%;
      width: auto;
      opacity: .9;
    }
  }
  h1 {
    font-size: 3em;
    font-weight: 400;
    line-height: 1em;
    margin-bottom: 5px;
    // color: $accent-orange;
  }

  h2 {
    color: lighten($body-font, 10%);
    font-weight: 300;
    line-height: 1em;

    @include media($mobile) {
      font-weight: 400;
    }
  }

  p {
    font-size: 1.2em;
    margin-bottom: 10px;
    color: lighten($body-font, 10%);
    font-weight: 300;
    @include media($mobile) {
      font-weight: 400;
      color: $body-font;
    }
  }

  @include media($mobile) {
    overflow: auto;
    height: auto;

    .text, .image {
      position: relative;
      top: auto;
      transform: none;
    }

    .text {
      padding: 0 10px 10px;
    }

    .contact {
      margin-top: 15px;
      text-align: center;
      display: none;

      li {
        float: none;
        display: inline-block;
      }
    }
    .image-container {
      height: auto;
      overflow: auto;

      img {
        height: 300px;
        width: auto;
      }
    }
  }
}

.contact {
    @include span-columns(12);
    overflow: auto;

    ul {
      width: 100%;
      text-align: center;
      list-style-type: none;
      padding: 0;
      margin: 0;
    }

    li {
      float: left;
      margin-right: 10px;
    }

    li img {
      height: 35px;
      width: auto;
      opacity: .4;
      transition: opacity 300ms ease-in;

      &:hover {
        opacity: .75;
        cursor: pointer;
      }
    }

}

