.work {
  @extend .section;
  height: auto;
  background-color: $background-grey;
  padding: 0;
  margin-bottom: 10px;
}


.projects, .visuals, .section-title {
  @include span-columns(12);
}

.section-title {
  overflow: auto;
  margin-top: 20px;
  margin-bottom: 10px;
  position: relative;

  h1 {
    font-size: 2em;
    font-weight: 300;
    color: lighten($disabled-text, 20%);
  }

}

.visuals {
  margin-bottom: 30px;
  background-color: #fff;
  border-radius: 5px;
  overflow: auto;
  height: auto;
  padding: 10px;

  ul {
    padding: 0;
    width: 100%;
    text-align: center;
    color: $disabled-text;
    font-weight: 300;
    border-bottom: 1px solid darken($background-grey, 0%);
    padding-bottom: 10px;

    li {
      display: inline;
      margin: 0 30px;
      cursor: pointer;

      &:hover {
        color: darken($disabled-text, 30%);
        transition: color 300ms ease-in;
      }
    }

    li.active {
      font-weight: 400;
      color: $secondary-header;
    }
  }

  .wip {
    @include span-columns(10);
    @include shift(1);
    text-align: center;
    height: auto;
    overflow: auto;
    background-color: lighten($background-grey, 2%);
    border-radius: 7px;
    border: 1.5px solid $background-grey;
    color: $disabled-text;
    padding: 10px;
  }
}

.visual-container {
  height: auto;
  display: flex;
  flex-wrap: wrap;

  .element {
    flex-grow: 1;
    text-align: center;
    max-height: 100px;
    width: 25%;
    padding: 5px;

    img {
      height: 100%;
      width: auto;
    }

    &.full {
      width:50%;
    }

    &.other {
      height: 300px;
    }
  }

  @include media($mobile) {
    .element {
      height: 75px;
      width: 33%;
    }
  }
}


.project {
  @include span-columns(12);
  overflow: hidden;
  height: 300px;
  margin-bottom: 30px;
  background-color: #fff;
  border-radius: 5px;

  &:last-child {
    margin-bottom: 0;
  }
  p {
    margin: 10px 0;
    font-size: 1em;
    color: $body-font;
    font-weight: 300;
  }

  aside {
    font-style: italic;
    font-size: .8em;
    color: $disabled-text;
  }

  @include media($mobile) {
    height: auto;
    overflow: auto;

    aside {
      font-size: 1em;
    }
  }
}

.project-img {
  overflow: hidden;
  padding: 10px;
  text-align: center;
  img {
    height: auto;
    width: 83%;
  }
}

.project-info {
  padding: 20px;
  height: 100%;
  h1 {
    font-weight: 400;
    a {
      color: $main-header;

      &:hover {
        color: darken($main-header, 10%);
      }
    }
  }

  @include media($mobile) {
    padding: 10px;
  }
}



.project.right {
  @include row($direction: RTL);
  padding-left: 20px;
  .project-img {
    @include span-columns(6);
    @extend .project-img;
  }
  .project-info {
    @include span-columns(6);
    @extend .project-info
  }

  @include media($mobile) {
    padding: 0;
  }
}

.project.left {
  @include reset-layout-direction;
  .project-img {
    @include span-columns(6);
    @extend .project-img;
  }
  .project-info {
    @include span-columns(6);
    @extend .project-info
  }

  @include media($mobile) {
  }
}

@include media($mobile) {
  .project.left, .project.right {
    .project-img {
      @include span-columns(4);
      @extend .project-img;
      padding: 0;
    }
    .project-info {
      @include span-columns(4);
      @extend .project-info;
      overflow: auto;
    }
  }
}


