html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

html, body {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: "Open Sans", Helvetica, sans-serif;
  color: #454545;
  vertical-align: baseline;
  background-color: #fff; }
  @media screen and (max-width: 480px) {
    html, body {
      font-size: 80%;
      padding: 5px; } }

h1, h2, h3, h4, h5 {
  font-family: "Open Sans", Helvetica, sans-serif;
  color: #202020;
  margin: 0;
  padding: 0;
  font-weight: 300; }

h1 {
  color: #D2527F; }

p {
  color: #454545;
  font-family: "Open Sans", Helvetica, sans-serif;
  margin: 0; }

.container {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
  font-family: inherit;
  overflow: auto; }
  .container::after {
    clear: both;
    content: "";
    display: table; }

.content {
  overflow: auto;
  width: 100%;
  position: relative; }

.section, .resume, .splash, .work {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  padding: 10px;
  font-family: inherit;
  height: calc(100vh - 37px);
  overflow: hidden;
  display: block; }
  .section:last-child, .resume:last-child, .splash:last-child, .work:last-child {
    margin-right: 0; }
  @media screen and (max-width: 480px) {
    .section, .resume, .splash, .work {
      float: left;
      display: block;
      margin-right: 7.42297%;
      width: 100%; }
      .section:last-child, .resume:last-child, .splash:last-child, .work:last-child {
        margin-right: 0; } }

.half-column {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 48.82117%; }
  .half-column:last-child {
    margin-right: 0; }
  @media screen and (max-width: 480px) {
    .half-column {
      float: left;
      display: block;
      margin-right: 7.42297%;
      width: 100%; }
      .half-column:last-child {
        margin-right: 0; } }

.single {
  flex-grow: 1;
  width: 100%; }

.half {
  width: 50%;
  flex-grow: 1; }

.one-third {
  width: 33%;
  flex-grow: 1; }

.two-third {
  width: 66%;
  flex-grow: 3; }

.right {
  float: right; }

.left {
  float: left; }

a {
  text-decoration: none;
  color: #22A7F0;
  transition: color 300ms ease-in; }
  a:hover {
    color: #0e8cd1; }

footer.contact {
  width: inherit;
  height: 170px;
  background-color: #fff;
  position: relative;
  text-align: center; }
  footer.contact ul {
    display: inline-block;
    margin: 0 auto 0;
    padding: 50px 0 0; }
  footer.contact li {
    display: inline-block;
    float: none; }
  footer.contact li img {
    width: 35px;
    height: auto; }
  footer.contact .wip {
    border-top: 1px solid #F3F3F3;
    position: absolute;
    width: 100%;
    bottom: 1px;
    background-color: #fff;
    height: 45px;
    color: #454545;
    line-height: 45px;
    text-align: center;
    font-size: .8em; }
  @media screen and (max-width: 480px) {
    footer.contact {
      height: 120px; }
      footer.contact ul {
        padding: 35px 0 0; }
      footer.contact li img {
        width: 25px;
        height: auto; }
      footer.contact .wip {
        height: 30px;
        line-height: 35px; } }

@keyframes rise {
  from {
    opacity: 0;
    top: 70%; }
  to {
    opacity: 1;
    top: 50%; } }

.rise {
  animation-name: rise;
  animation-duration: 1.5s; }
  @media screen and (max-width: 480px) {
    .rise {
      animation: none; } }

@keyframes slide-right {
  from {
    opacity: 0;
    left: 100%; }
  to {
    opacity: 1;
    left: 0; } }

.swipe-appear {
  opacity: 0.01;
  transition-delay: 1s;
  transition: opacity 600ms ease-in; }

.swipe-appear.swipe-appear-active {
  opacity: 1; }

.swipe-leave {
  opacity: 1;
  transition: opacity 100ms ease-in; }

.swipe-leave.swipe-leave-active {
  opacity: 0.01; }

.top-nav {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  height: 50px;
  background-color: rgba(255, 255, 255, 0.95);
  z-index: 1;
  text-align: center; }
  .top-nav ul {
    padding: 0; }
  .top-nav li {
    display: inline;
    text-decoration: none;
    margin: 5px 20px; }
  .top-nav a {
    color: #8D8D8D;
    cursor: pointer;
    font-weight: 300; }
    .top-nav a:hover {
      color: #5a5a5a;
      font-weight: 400; }
  @media screen and (max-width: 480px) {
    .top-nav {
      height: 35px;
      font-size: 1.1em; } }

.resume-section, .resume .experience, .resume .skills, .resume .course-work {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 82.94039%;
  margin-left: 8.5298%;
  padding: 0 10px; }
  .resume-section:last-child, .resume .experience:last-child, .resume .skills:last-child, .resume .course-work:last-child {
    margin-right: 0; }
  @media screen and (max-width: 480px) {
    .resume-section, .resume .experience, .resume .skills, .resume .course-work {
      float: left;
      display: block;
      margin-right: 7.42297%;
      width: 100%;
      margin-left: 0%; }
      .resume-section:last-child, .resume .experience:last-child, .resume .skills:last-child, .resume .course-work:last-child {
        margin-right: 0; } }

.resume {
  height: auto;
  background-color: #fff;
  padding: 0; }
  .resume .section-title {
    margin: 0;
    padding: 0; }
    .resume .section-title h1 {
      margin: 0; }
  .resume .experience .date {
    font-size: .9em;
    font-weight: 400;
    color: #747474;
    padding-top: 1.5px; }
  .resume .experience ul {
    font-weight: 300;
    color: #787878;
    margin: 0;
    font-size: .9em;
    padding-left: 30px; }
  @media screen and (max-width: 480px) {
    .resume .experience ul {
      padding-left: 20px; } }
  .resume .course-work {
    margin-bottom: 20px; }
    .resume .course-work h3 {
      margin: 4px 0; }
  .resume section {
    padding: 1px 5px; }
  .resume .work-title {
    margin-bottom: 5px;
    width: 100%;
    overflow: auto;
    margin-top: 15px; }
    .resume .work-title.first {
      margin-top: 0; }
  @media screen and (max-width: 480px) {
    .resume .position, .resume .date {
      float: left;
      font-size: .9em; }
    .resume .date {
      font-size: .8em; } }
  .resume .download {
    display: inline-block;
    height: 40px;
    line-height: 40px;
    width: 100%;
    font-size: .9em;
    color: #454545;
    text-align: center;
    border-bottom: 1px solid #f3f3f3;
    border-top: 1px solid #f3f3f3; }
  .resume h1 {
    font-weight: 400;
    line-height: 40px;
    font-size: 1.7em;
    margin-bottom: 5px; }
    @media screen and (max-width: 480px) {
      .resume h1 {
        margin-bottom: 0;
        line-height: 20px;
        margin-top: 10px;
        font-size: 1.4em; } }
  .resume h3 {
    font-size: 1em;
    font-weight: 400;
    color: #34495E; }
    @media screen and (max-width: 480px) {
      .resume h3 {
        font-size: .9em; } }
  .resume p {
    font-weight: 300;
    color: #787878;
    font-size: .9em;
    margin: 0 5px; }

.resume-header {
  height: 40px;
  width: 100%;
  margin: 10px 0; }

.splash {
  overflow: hidden;
  height: 500px;
  padding: 0;
  position: relative;
  border-radius: 5px;
  margin-top: 50px; }
  .splash .text, .splash .image {
    position: relative;
    top: 50%;
    transform: translateY(-50%); }
  .splash .image-container {
    margin-right: 0;
    text-align: center;
    overflow: hidden;
    height: 100%; }
    .splash .image-container img {
      height: 90%;
      width: auto;
      opacity: .9; }
  .splash h1 {
    font-size: 3em;
    font-weight: 400;
    line-height: 1em;
    margin-bottom: 5px; }
  .splash h2 {
    color: #929292;
    font-weight: 300;
    line-height: 1em; }
  .splash p {
    font-size: 1.2em;
    margin-bottom: 10px;
    color: #929292;
    font-weight: 300; }
  @media screen and (max-width: 480px) {
    .splash {
      overflow: auto;
      height: auto; }
      .splash .text, .splash .image {
        position: relative;
        top: auto;
        transform: none; }
      .splash .text {
        padding: 0 10px 10px; }
      .splash .contact {
        margin-top: 15px;
        text-align: center;
        display: none; }
        .splash .contact li {
          float: none;
          display: inline-block; }
      .splash .image-container {
        height: auto;
        overflow: auto; }
        .splash .image-container img {
          height: 300px;
          width: auto; } }

.contact, footer.contact {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  overflow: auto; }
  .contact:last-child {
    margin-right: 0; }
  .contact ul {
    width: 100%;
    text-align: center;
    list-style-type: none;
    padding: 0;
    margin: 0; }
  .contact li {
    float: left;
    margin-right: 10px; }
  .contact li img {
    height: 35px;
    width: auto;
    opacity: .4;
    transition: opacity 300ms ease-in; }
    .contact li img:hover {
      opacity: .75;
      cursor: pointer; }

.work {
  height: auto;
  background-color: #fff;
  padding: 0;
  margin-bottom: 10px; }

.projects, .visuals, .section-title {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%; }
  .projects:last-child, .visuals:last-child, .section-title:last-child {
    margin-right: 0; }

.section-title {
  overflow: auto;
  margin-top: 20px;
  margin-bottom: 10px;
  position: relative; }
  .section-title h1 {
    font-size: 2em;
    font-weight: 300;
    color: silver; }

.visuals {
  margin-bottom: 30px;
  background-color: #fff;
  border-radius: 5px;
  overflow: auto;
  height: auto;
  padding: 10px; }
  .visuals ul {
    padding: 0;
    width: 100%;
    text-align: center;
    color: #8D8D8D;
    font-weight: 300;
    border-bottom: 1px solid white;
    padding-bottom: 10px; }
    .visuals ul li {
      display: inline;
      margin: 0 30px;
      cursor: pointer; }
      .visuals ul li:hover {
        color: #414141;
        transition: color 300ms ease-in; }
    .visuals ul li.active {
      font-weight: 400;
      color: #34495E; }
  .visuals .wip {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 82.94039%;
    margin-left: 8.5298%;
    text-align: center;
    height: auto;
    overflow: auto;
    background-color: white;
    border-radius: 7px;
    border: 1.5px solid #fff;
    color: #8D8D8D;
    padding: 10px; }
    .visuals .wip:last-child {
      margin-right: 0; }

.visual-container {
  height: auto;
  display: flex;
  flex-wrap: wrap; }
  .visual-container .element {
    flex-grow: 1;
    text-align: center;
    max-height: 100px;
    width: 25%;
    padding: 5px; }
    .visual-container .element img {
      height: 100%;
      width: auto; }
    .visual-container .element.full {
      width: 50%; }
    .visual-container .element.other {
      height: 300px; }
  @media screen and (max-width: 480px) {
    .visual-container .element {
      height: 75px;
      width: 33%; } }

.project {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  overflow: hidden;
  height: 300px;
  margin-bottom: 30px;
  background-color: #fff;
  border-radius: 5px; }
  .project:last-child {
    margin-right: 0; }
  .project:last-child {
    margin-bottom: 0; }
  .project p {
    margin: 10px 0;
    font-size: 1em;
    color: #787878;
    font-weight: 300; }
  .project aside {
    font-style: italic;
    font-size: .8em;
    color: #8D8D8D; }
  @media screen and (max-width: 480px) {
    .project {
      height: auto;
      overflow: auto; }
      .project aside {
        font-size: 1em; } }

.project-img, .project.right .project-img, .project.left .project-img {
  overflow: hidden;
  padding: 10px;
  text-align: center; }
  .project-img img, .project.right .project-img img, .project.left .project-img img {
    height: auto;
    width: 83%; }

.project-info, .project.right .project-info, .project.left .project-info {
  padding: 20px;
  height: 100%; }
  .project-info h1, .project.right .project-info h1, .project.left .project-info h1 {
    font-weight: 400; }
    .project-info h1 a, .project.right .project-info h1 a, .project.left .project-info h1 a {
      color: #D2527F; }
      .project-info h1 a:hover, .project.right .project-info h1 a:hover, .project.left .project-info h1 a:hover {
        color: #bf3263; }
  @media screen and (max-width: 480px) {
    .project-info, .project.right .project-info, .project.left .project-info {
      padding: 10px; } }

.project.right {
  display: block;
  padding-left: 20px; }
  .project.right::after {
    clear: both;
    content: "";
    display: table; }
  .project.right .project-img {
    float: right;
    display: block;
    margin-left: 2.35765%;
    width: 48.82117%; }
    .project.right .project-img:last-child {
      margin-left: 0; }
  .project.right .project-info {
    float: right;
    display: block;
    margin-left: 2.35765%;
    width: 48.82117%; }
    .project.right .project-info:last-child {
      margin-left: 0; }
  @media screen and (max-width: 480px) {
    .project.right {
      padding: 0; } }

.project.left .project-img {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 48.82117%; }
  .project.left .project-img:last-child {
    margin-right: 0; }

.project.left .project-info {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 48.82117%; }
  .project.left .project-info:last-child {
    margin-right: 0; }

@media screen and (max-width: 480px) {
  .project.left .project-img, .project.right .project-img {
    float: left;
    display: block;
    margin-right: 7.42297%;
    width: 100%;
    padding: 0; }
    .project.left .project-img:last-child, .project.right .project-img:last-child {
      margin-right: 0; }
  .project.left .project-info, .project.right .project-info {
    float: left;
    display: block;
    margin-right: 7.42297%;
    width: 100%;
    overflow: auto; }
    .project.left .project-info:last-child, .project.right .project-info:last-child {
      margin-right: 0; } }
